.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}
tr.ant-table-row.ant-table-row-level-1:hover {
  background: red;
}
